*.swp
__pycache__
iocBoot/iocpydev/.iocsh_history
python/plot_crystal.py
python/plot_crystal_widget.py
python/plot_crystal_widget_simple.py
iochkl

# Files generated during build
configure/CONFIG.PyDevice
O.linux*
O.Common
envPaths
bin/
lib/
db/
dbd/
include/
*.pyc
