*.swp
__pycache__

# history
iocBoot/iocpydev/.iocsh_history

# venv dependencies
iochkl

# temporary
hklApp/op/bob/axis/todelete
iocBoot/iocpydev/refls2.csv
iocBoot/iocpydev/test.csv

# Files generated during build
configure/CONFIG.PyDevice
O.linux*
O.Common
envPaths
bin/
lib/
db/
dbd/
include/
*.pyc
