record(ao, "$(P)$(R)mu") {
    field(DESC, "mu")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(LOPR, "-180")
    field(HOPR, "180")
    field(OUT, "@hkl_calc.axes_mu=VAL")
    field(FLNK, "$(P)$(R)mu_RBV")
}

record(ai, "$(P)$(R)mu_RBV") {
    field(DESC, "mu")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.axes_mu")
}

record(ao, "$(P)$(R)omega") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(LOPR, "-180")
    field(HOPR, "180")
    field(OUT, "@hkl_calc.axes_omega=VAL")
    field(FLNK, "$(P)$(R)omega_RBV")
}

record(ai, "$(P)$(R)omega_RBV") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.axes_omega")
}

record(ao, "$(P)$(R)chi") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(LOPR, "-180")
    field(HOPR, "180")
    field(OUT, "@hkl_calc.axes_chi=VAL")
    field(FLNK, "$(P)$(R)chi_RBV")
}

record(ai, "$(P)$(R)chi_RBV") {
    field(DESC, "chi")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(LOPR, "-180")
    field(HOPR, "180")
    field(INP, "@hkl_calc.axes_chi")
}

record(ao, "$(P)$(R)phi") {
    field(DESC, "phi")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(LOPR, "-180")
    field(HOPR, "180")
    field(OUT, "@hkl_calc.axes_phi=VAL")
    field(FLNK, "$(P)$(R)phi_RBV")
}

record(ai, "$(P)$(R)phi_RBV") {
    field(DESC, "phi")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(LOPR, "-180")
    field(HOPR, "180")
    field(INP, "@hkl_calc.axes_phi")
}

record(ao, "$(P)$(R)tth") {
    field(DESC, "tth")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(LOPR, "-180")
    field(HOPR, "180")
    field(OUT, "@hkl_calc.axes_tth=VAL")
    field(FLNK, "$(P)$(R)tth_RBV")
}

record(ai, "$(P)$(R)tth_RBV") {
    field(DESC, "tth")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(LOPR, "-180")
    field(HOPR, "180")
    field(INP, "@hkl_calc.axes_tth")
}

record(ao, "$(P)$(R)gamma") {
    field(DESC, "gamma")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(LOPR, "-180")
    field(HOPR, "180")
    field(OUT, "@hkl_calc.axes_gamma=VAL")
    field(FLNK, "$(P)$(R)gamma_RBV")
}

record(ai, "$(P)$(R)gamma_RBV") {
    field(DESC, "tth")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(LOPR, "-180")
    field(HOPR, "180")
    field(INP, "@hkl_calc.axes_gamma")
}

record(ao, "$(P)$(R)delta") {
    field(DESC, "delta")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(LOPR, "-180")
    field(HOPR, "180")
    field(OUT, "@hkl_calc.axes_delta=VAL")
    field(FLNK, "$(P)$(R)delta_RBV")
}

record(ai, "$(P)$(R)delta_RBV") {
    field(DESC, "delta")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(LOPR, "-180")
    field(HOPR, "180")
    field(INP, "@hkl_calc.axes_delta")
}
