# Eulerian 4-circle
record(ao, "$(P)$(R)omega_e4c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e4c[0]=VAL")
    field(FLNK, "$(P)$(R)omega_e4c_min")
}

record(ao, "$(P)$(R)omega_e4c_min") {
    field(DESC, "omega min")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e4c_min[0]=VAL")
    field(FLNK, "$(P)$(R)omega_e4c_max")
}

record(ao, "$(P)$(R)omega_e4c_max") {
    field(DESC, "omega max")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e4c_max[0]=VAL")
    field(FLNK, "$(P)$(R)omega_e4c_RBV")
}

record(ai, "$(P)$(R)omega_e4c_RBV") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.axes_e4c[0]")
}

record(ao, "$(P)$(R)chi_e4c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e4c[1]=VAL")
    field(FLNK, "$(P)$(R)chi_e4c_RBV")
}

record(ai, "$(P)$(R)chi_e4c_RBV") {
    field(DESC, "chi")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(INP, "@hkl_calc.axes_e4c[1]")
}

record(ao, "$(P)$(R)chi_e4c_min") {
    field(DESC, "chi min")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e4c_min[1]=VAL")
}

record(ao, "$(P)$(R)chi_e4c_max") {
    field(DESC, "chi max")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e4c_max[1]=VAL")
}

record(ao, "$(P)$(R)phi_e4c") {
    field(DESC, "phi")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e4c[2]=VAL")
    field(FLNK, "$(P)$(R)phi_e4c_RBV")
}

record(ai, "$(P)$(R)phi_e4c_RBV") {
    field(DESC, "phi")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(INP, "@hkl_calc.axes_e4c[2]")
}

record(ao, "$(P)$(R)phi_e4c_min") {
    field(DESC, "phi")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e4c_min[2]=VAL")
}

record(ao, "$(P)$(R)phi_e4c_max") {
    field(DESC, "phi max")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e4c_max[2]=VAL")
}

record(ao, "$(P)$(R)tth_e4c") {
    field(DESC, "tth")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e4c[3]=VAL")
    field(FLNK, "$(P)$(R)tth_e4c_RBV")
}

record(ai, "$(P)$(R)tth_e4c_RBV") {
    field(DESC, "tth")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(INP, "@hkl_calc.axes_e4c[3]")
}

record(ao, "$(P)$(R)tth_e4c_min") {
    field(DESC, "tth min")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e4c_min[3]=VAL")
}

record(ao, "$(P)$(R)tth_e4c_max") {
    field(DESC, "tth max")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e4c_max[3]=VAL")
}


# Kappa 4-circle
record(ao, "$(P)$(R)komega_k4c") {
    field(DESC, "komega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k4c[0]=VAL")
    field(FLNK, "$(P)$(R)komega_k4c_RBV")
}

record(ai, "$(P)$(R)komega_k4c_RBV") {
    field(DESC, "komega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.axes_k4c[0]")
}

record(ao, "$(P)$(R)komega_k4c_min") {
    field(DESC, "komega min")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k4c_min[0]=VAL")
}

record(ao, "$(P)$(R)komega_k4c_max") {
    field(DESC, "komega max")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k4c_max[0]=VAL")
}

record(ao, "$(P)$(R)kappa_k4c") {
    field(DESC, "kappa")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k4c[1]=VAL")
    field(FLNK, "$(P)$(R)kappa_k4c_RBV")
}

record(ai, "$(P)$(R)kappa_k4c_RBV") {
    field(DESC, "chi")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(INP, "@hkl_calc.axes_k4c[1]")
}

record(ao, "$(P)$(R)kappa_k4c_min") {
    field(DESC, "kappa min")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k4c_min[1]=VAL")
}

record(ao, "$(P)$(R)kappa_k4c_max") {
    field(DESC, "kappa max")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k4c_max[1]=VAL")
}

record(ao, "$(P)$(R)kphi_k4c") {
    field(DESC, "kphi")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k4c[2]=VAL")
    field(FLNK, "$(P)$(R)kphi_k4c_RBV")
}

record(ai, "$(P)$(R)kphi_k4c_RBV") {
    field(DESC, "kphi")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(INP, "@hkl_calc.axes_k4c[2]")
}

record(ao, "$(P)$(R)kphi_k4c_min") {
    field(DESC, "kphi min")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k4c_min[2]=VAL")
}

record(ao, "$(P)$(R)kphi_k4c_max") {
    field(DESC, "kphi max")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k4c_max[2]=VAL")
}

record(ao, "$(P)$(R)tth_k4c") {
    field(DESC, "tth")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k4c[3]=VAL")
    field(FLNK, "$(P)$(R)tth_k4c_RBV")
}

record(ai, "$(P)$(R)tth_k4c_RBV") {
    field(DESC, "tth")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(INP, "@hkl_calc.axes_k4c[3]")
}

record(ao, "$(P)$(R)tth_k4c_min") {
    field(DESC, "tth min")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k4c_min[3]=VAL")
}

record(ao, "$(P)$(R)tth_k4c_max") {
    field(DESC, "tth max")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k4c_max[3]=VAL")
}

# Eulerian 6-circle
record(ao, "$(P)$(R)mu_e6c") {
    field(DESC, "mu")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c[0]=VAL")
    field(FLNK, "$(P)$(R)mu_e6c_RBV")
}

record(ai, "$(P)$(R)mu_e6c_RBV") {
    field(DESC, "mu")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.axes_e6c[0]")
}

record(ao, "$(P)$(R)mu_e6c_min") {
    field(DESC, "mu min")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c_min[0]=VAL")
}

record(ao, "$(P)$(R)mu_e6c_max") {
    field(DESC, "mu max")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c_max[0]=VAL")
}

record(ao, "$(P)$(R)omega_e6c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c[1]=VAL")
    field(FLNK, "$(P)$(R)omega_e6c_RBV")
}

record(ai, "$(P)$(R)omega_e6c_RBV") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.axes_e6c[1]")
}

record(ao, "$(P)$(R)omega_e6c_min") {
    field(DESC, "omega min")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c_min[1]=VAL")
}

record(ao, "$(P)$(R)omega_e6c_max") {
    field(DESC, "omega max")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c_max[1]=VAL")
}

record(ao, "$(P)$(R)chi_e6c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c[2]=VAL")
    field(FLNK, "$(P)$(R)chi_e6c_RBV")
}

record(ai, "$(P)$(R)chi_e6c_RBV") {
    field(DESC, "chi")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(INP, "@hkl_calc.axes_e6c[2]")
}

record(ao, "$(P)$(R)chi_e6c_min") {
    field(DESC, "chi min")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c_min[2]=VAL")
}

record(ao, "$(P)$(R)chi_e6c_max") {
    field(DESC, "chi max")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c_max[2]=VAL")
}

record(ao, "$(P)$(R)phi_e6c") {
    field(DESC, "phi")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c[3]=VAL")
    field(FLNK, "$(P)$(R)phi_e6c_RBV")
}

record(ai, "$(P)$(R)phi_e6c_RBV") {
    field(DESC, "phi")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(INP, "@hkl_calc.axes_e6c[3]")
}

record(ao, "$(P)$(R)phi_e6c_min") {
    field(DESC, "phi min")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c_min[3]=VAL")
}

record(ao, "$(P)$(R)phi_e6c_max") {
    field(DESC, "phi max")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c_max[3]=VAL")
}

record(ao, "$(P)$(R)gamma_e6c") {
    field(DESC, "gamma")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c[4]=VAL")
    field(FLNK, "$(P)$(R)gamma_e6c_RBV")
}

record(ai, "$(P)$(R)gamma_e6c_RBV") {
    field(DESC, "gamma")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(INP, "@hkl_calc.axes_e6c[4]")
}

record(ao, "$(P)$(R)gamma_e6c_min") {
    field(DESC, "gamma min")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c_min[4]=VAL")
}

record(ao, "$(P)$(R)gamma_e6c_max") {
    field(DESC, "gamma max")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c_max[4]=VAL")
}

record(ao, "$(P)$(R)delta_e6c") {
    field(DESC, "delta")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c[5]=VAL")
    field(FLNK, "$(P)$(R)delta_e6c_RBV")
}

record(ai, "$(P)$(R)delta_e6c_RBV") {
    field(DESC, "delta")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(INP, "@hkl_calc.axes_e6c[5]")
}

record(ao, "$(P)$(R)delta_e6c_min") {
    field(DESC, "delta min")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c_min[5]=VAL")
}

record(ao, "$(P)$(R)delta_e6c_max") {
    field(DESC, "delta max")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_e6c_max[5]=VAL")
}

# Kappa 6-circle
record(ao, "$(P)$(R)mu_k6c") {
    field(DESC, "mu")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c[0]=VAL")
    field(FLNK, "$(P)$(R)mu_k6c_RBV")
}

record(ai, "$(P)$(R)mu_k6c_RBV") {
    field(DESC, "mu")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.axes_k6c[0]")
}

record(ao, "$(P)$(R)mu_k6c_min") {
    field(DESC, "mu min")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c_min[0]=VAL")
}

record(ao, "$(P)$(R)mu_k6c_max") {
    field(DESC, "mu max")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c_max[0]=VAL")
}

record(ao, "$(P)$(R)komega_k6c") {
    field(DESC, "komega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c[1]=VAL")
    field(FLNK, "$(P)$(R)komega_k6c_RBV")
}

record(ai, "$(P)$(R)komega_k6c_RBV") {
    field(DESC, "komega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.axes_k6c[1]")
}

record(ao, "$(P)$(R)komega_k6c_min") {
    field(DESC, "komega max")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c_min[1]=VAL")
}

record(ao, "$(P)$(R)komega_k6c_max") {
    field(DESC, "komega max")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c_max[1]=VAL")
}

record(ao, "$(P)$(R)kappa_k6c") {
    field(DESC, "kappa")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c[2]=VAL")
    field(FLNK, "$(P)$(R)kappa_k6c_RBV")
}

record(ai, "$(P)$(R)kappa_k6c_RBV") {
    field(DESC, "kappa")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(INP, "@hkl_calc.axes_k6c[2]")
}

record(ao, "$(P)$(R)kappa_k6c_min") {
    field(DESC, "kappa min")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c_min[2]=VAL")
}

record(ao, "$(P)$(R)kappa_k6c_max") {
    field(DESC, "kappa max")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c_max[2]=VAL")
}

record(ao, "$(P)$(R)kphi_k6c") {
    field(DESC, "kphi")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c[3]=VAL")
    field(FLNK, "$(P)$(R)kphi_k6c_RBV")
}

record(ai, "$(P)$(R)kphi_k6c_RBV") {
    field(DESC, "kphi")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(INP, "@hkl_calc.axes_k6c[3]")
}

record(ao, "$(P)$(R)kphi_k6c_min") {
    field(DESC, "kphi min")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c_min[3]=VAL")
}

record(ao, "$(P)$(R)kphi_k6c_max") {
    field(DESC, "kphi max")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c_max[3]=VAL")
}

record(ao, "$(P)$(R)gamma_k6c") {
    field(DESC, "gamma")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c[4]=VAL")
    field(FLNK, "$(P)$(R)gamma_k6c_RBV")
}

record(ai, "$(P)$(R)gamma_k6c_RBV") {
    field(DESC, "gamma")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(INP, "@hkl_calc.axes_k6c[4]")
}

record(ao, "$(P)$(R)gamma_k6c_min") {
    field(DESC, "gamma min")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c_min[4]=VAL")
}

record(ao, "$(P)$(R)gamma_k6c_max") {
    field(DESC, "gamma max")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c_max[4]=VAL")
}

record(ao, "$(P)$(R)delta_k6c") {
    field(DESC, "delta")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c[5]=VAL")
    field(FLNK, "$(P)$(R)delta_k6c_RBV")
}

record(ai, "$(P)$(R)delta_k6c_RBV") {
    field(DESC, "delta")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(INP, "@hkl_calc.axes_k6c[5]")
}

record(ao, "$(P)$(R)delta_k6c_min") {
    field(DESC, "delta min")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c_min[5]=VAL")
}

record(ao, "$(P)$(R)delta_k6c_max") {
    field(DESC, "delta max")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_k6c_max[5]=VAL")
}

# 2-circle
record(ao, "$(P)$(R)omega_2c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_2c[0]=VAL")
    field(FLNK, "$(P)$(R)omega_2c_min")
}

record(ao, "$(P)$(R)omega_2c_min") {
    field(DESC, "omega min")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_2c_min[0]=VAL")
    field(FLNK, "$(P)$(R)omega_2c_max")
}

record(ao, "$(P)$(R)omega_2c_max") {
    field(DESC, "omega max")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_2c_max[0]=VAL")
    field(FLNK, "$(P)$(R)omega_2c_RBV")
}

record(ai, "$(P)$(R)omega_2c_RBV") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.axes_2c[0]")
}

record(ao, "$(P)$(R)tth_2c") {
    field(DESC, "tth")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_2c[1]=VAL")
    field(FLNK, "$(P)$(R)tth_2c_RBV")
}

record(ai, "$(P)$(R)tth_2c_RBV") {
    field(DESC, "tth")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(INP, "@hkl_calc.axes_2c[1]")
}

record(ao, "$(P)$(R)tth_2c_min") {
    field(DESC, "tth min")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_2c_min[1]=VAL")
}

record(ao, "$(P)$(R)tth_2c_max") {
    field(DESC, "tth max")
    field(DTYP, "pydev")
    field(PINI, "YES")
    field(DRVL, "-180")
    field(DRVH, "180")
    field(OUT, "@hkl_calc.axes_2c_max[1]=VAL")
}

# Constraints for inverse calculations
# all 4-circles
record(mbbo, "$(P)$(R)mode_4c") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(FVVL, "5")
    field(ZRST, "bisector")
    field(ONST, "constant omega")
    field(TWST, "constant chi")
    field(THST, "constant phi")
    field(FRST, "double diffraction")
    field(FVST, "psi constant")
    field(OUT, "@hkl_calc.mode_4c=VAL")
}

# eulerian 6-circle
record(mbbo, "$(P)$(R)mode_e6c") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(FVVL, "5")
    field(SXVL, "6")
    field(SVVL, "7")
    field(EIVL, "8")
    field(NIVL, "9")
    field(TEVL, "10")
    field(ELVL, "11")
    field(TVVL, "12")
    field(ZRST, "bisector vertical")
    field(ONST, "constant omega vertical")
    field(TWST, "constant chi vertical")
    field(THST, "constant phi vertical")
    field(FRST, "lifting detector phi")
    field(FVST, "lifting detector omega")
    field(SXST, "lifting detector mu")
    field(SVST, "doub diffraction vertical")
    field(EIST, "bissector horizontal")
    field(NIST, "doub diffraction horiz")
    field(TEST, "psi constant vectical")
    field(ELST, "psi constant horizontal")
    field(TVST, "constant mu horizontal")
    field(OUT, "@hkl_calc.mode_e6c=VAL")
}

# kappa 6-circle
record(mbbo, "$(P)$(R)mode_k6c") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(FVVL, "5")
    field(SXVL, "6")
    field(SVVL, "7")
    field(EIVL, "8")
    field(NIVL, "9")
    field(TEVL, "10")
    field(ELVL, "11")
    field(TVVL, "12")
    field(TTVL, "13")
    field(ZRST, "bisector vertical")
    field(ONST, "constant omega vertical")
    field(TWST, "constant chi vertical")
    field(THST, "constant phi vertical")
    field(FRST, "lifting detector kphi")
    field(FVST, "lifting detector komega")
    field(SXST, "lifting detector mu")
    field(SVST, "doub diffraction vertical")
    field(EIST, "bissector horizontal")
    field(NIST, "constant phi horizontal")
    field(TEST, "constant kphi horizontal")
    field(ELST, "doub diffraction horiz")
    field(TVST, "psi constant vertical")
    field(TTST, "constant incidence")
    field(OUT, "@hkl_calc.mode_e6c=VAL")
}

# 2-circle
record(mbbo, "$(P)$(R)mode_2c") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(ZRVL, "0")
    #field(ONVL, "1")
    #field(TWVL, "2")
    #field(THVL, "3")
    #field(FRVL, "4")
    #field(FVVL, "5")
    field(ZRST, "bisector")
    #field(ONST, "constant omega")
    #field(TWST, "constant chi")
    #field(THST, "constant phi")
    #field(FRST, "double diffraction")
    #field(FVST, "psi constant")
    field(OUT, "@hkl_calc.mode_4c=VAL")
}
