record(ao, "$(P)$(R)set_motor") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.set_axes_to_sample()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)forward") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.forward()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)backward_hkl") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.backward_hkl()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)backward_psi") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.backward_psi()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)backward_q") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.backward_q()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)backward_q2") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.backward_q2()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)backward_qperqpar") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.backward_qperqpar()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)backward_tth") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.backward_tth()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)backward_eulerians") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.backward_eulerians()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)reset") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.reset()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)set_sample") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.start()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)rotate_sample") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.rotate_sample()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)compute_set_UB") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.compute_set_UB_matrix()")
    field(TPRO, "1")
    field(FLNK, "$(P)$(R)UBa11")
}

record(ao, "$(P)$(R)add_refl_refine") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.add_refl_refine()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)del_refl_refine") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.del_refl_refine()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)switch_geom") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.switch_geom()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)affine_set") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.affine_set()")
    field(TPRO, "1")
}

record(ao, "$(P)$(R)set_input_UB") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.set_input_UB()")
    field(TPRO, "1")
    field(FLNK, "$(P)$(R)UBa11_input")
}

record(ao, "$(P)$(R)convert") {
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.energy_to_wavelength_neutron()")
    field(TPRO, "1")
    field(FLNK, "$(P)$(R)wavelength_result")
}

record(ao, "$(P)$(R)run_cif") {
    field(PINI, "NO")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.run_cif()")
    field(TPRO, "1")
    field(FLNK, "$(P)$(R)latt_a_RBV")
}

record(ao, "$(P)$(R)setup_vis") {
    field(PINI, "NO")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.det_vis_lst()")
    field(TPRO, "1")
    field(FLNK, "$(P)$(R)run_vis")
}

record(ao, "$(P)$(R)run_vis") {
    field(PINI, "NO")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.compute_heatmap()")
    field(TPRO, "1")
    field(FLNK, "$(P)$(R)detimage")
}


