# FROM EPICS TO PYTHON

record(bi, "$(P)$(R)forward") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.forward()")
}

record(bi, "$(P)$(R)backward") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.backward()")
}


# FROM PYTHON TO EPICS

# function outputs?

