record(waveform, "$(P)$(R)detimage") { 
    field(PINI, "NO") 
    field(DESC, "reflection visual") 
    field(DTYP, "pydev") 
    field(INP, "@hkl_calc.det2dvis") 
    #field(NELM, "152400") 
    #field(NELM, "18200") 
    field(NELM, "54600") 
    field(FTVL, "FLOAT") 
    field(FLNK, "$(P)$(R)peaklist")
}

#record(ao, "$(P)$(R)cur_angle") {
#    field(PINI, "NO")
#    field(DESC, "cur angle, det center")
#    field(PINI, "YES")
#    field(DTYP, "pydev")
#    field(OUT, "@hkl_calc.cur_angle=VAL")
#    field(FLNK, "$(P)$(R)run_vis")
#}

record(ao, "$(P)$(R)det_pos_start") {
    field(PINI, "NO")
    field(DESC, "sample angle start")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.det_pos_start=VAL")
    field(FLNK, "$(P)$(R)run_vis")
}

record(ao, "$(P)$(R)det_pos_end") {
    field(PINI, "NO")
    field(DESC, "sample angle end")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.det_pos_end=VAL")
    field(FLNK, "$(P)$(R)run_vis")
}

record(ao, "$(P)$(R)y_offset") {
    field(PINI, "NO")
    field(DESC, "cur angle, det center")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.y_offset=VAL")
    field(FLNK, "$(P)$(R)run_vis")
}

record(ao, "$(P)$(R)tth_start") {
    field(PINI, "NO")
    field(DESC, "cur tth angle of left side of det")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.tth_start=VAL")
    field(FLNK, "$(P)$(R)run_vis")
}

record(ao, "$(P)$(R)min_intensity") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.min_intensity=VAL")
    field(FLNK, "$(P)$(R)run_vis")
}

record(ao, "$(P)$(R)detR") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.detR=VAL")
}

record(ao, "$(P)$(R)detWidth") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.detWidth=VAL")
}

record(mbbo, "$(P)$(R)detShape") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(ZRST, "curved")
    field(ONST, "flat")
    field(OUT, "@hkl_calc.detShape=VAL")
    #field(FLNK, "$(P)$(R)geom_RBV")
}

record(waveform, "$(P)$(R)peaklist") {
    field(PINI, "NO")
    field(DESC, "detector vis reflection list")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.peaklist")
    field(NELM, "524288")
    field(FTVL, "FLOAT")
}

record(bo, "$(P)$(R)flip") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.flip=VAL")
    field(FLNK, "$(P)$(R)run_vis")
}
