record(ai, "$(P)$(R)sol:h") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_h")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)sol:k") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_k")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)sol:l") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_l")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)sol:psi") {
    field(DESC, "psi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_psi")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)sol:q") {
    field(DESC, "q")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_q")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)sol:alpha") {
    field(DESC, "alpha")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_alpha")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)sol:qper") {
    field(DESC, "qper")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_qper")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)sol:qpar") {
    field(DESC, "qpar")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_qpar")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)sol:alpha2") {
    field(DESC, "alpha2")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_alpha2")
    field(SCAN, "1 second")
}



record(ai, "$(P)$(R)sol:incidence") {
    field(DESC, "incidence")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_incidence")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)sol:azimuthI") {
    field(DESC, "azimuthI")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_azimuth1")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)sol:emergence") {
    field(DESC, "emergence")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_emergence")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)sol:azimuthE") {
    field(DESC, "azimuthE")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_azimuth2")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)sol:omega") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_omega")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)sol:chi") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_chi")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)sol:phi") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_solns_phi")
    field(SCAN, "1 second")
}


