# EPICS TO PYTHON

record(ao, "$(P)$(R)h") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.pseudoaxes_h='VAL'")
}

record(ao, "$(P)$(R)k") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.pseudoaxes_k='VAL'")
}

record(ao, "$(P)$(R)l") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.pseudoaxes_l='VAL'")
}

record(ao, "$(P)$(R)psi") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.pseudoaxes_psi='VAL'")
}

record(ao, "$(P)$(R)q") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.pseudoaxes_q='VAL'")
}

record(ao, "$(P)$(R)incidence") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.pseudoaxes_incidence='VAL'")
}

record(ao, "$(P)$(R)azimuth") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.pseudoaxes_inc_azimuth='VAL'")
}

record(ao, "$(P)$(R)emergence") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.pseudoaxes_emergence='VAL'")
}

record(ao, "$(P)$(R)azimuth2") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.pseudoaxes_emer_azimuth='VAL'")
}

# PYTHON TO EPICS

record(ai, "$(P)$(R)solh") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_h")
#    field(SCAN, "I/O Intr")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)solk") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_k")
#    field(SCAN, "I/O Intr")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)soll") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.pseudoaxes_l")
#    field(SCAN, "I/O Intr")
    field(SCAN, "1 second")
}
