### reflections
# Eulerian 4-circle

record(ao, "$(P)$(R)refl1_h_e4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e4c[0]=VAL")
}

record(ao, "$(P)$(R)refl1_k_e4c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e4c[1]=VAL")
}

record(ao, "$(P)$(R)refl1_l_e4c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e4c[2]=VAL")
}

record(ao, "$(P)$(R)refl1_omega_e4c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e4c[3]=VAL")
}

record(ao, "$(P)$(R)refl1_chi_e4c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e4c[4]=VAL")
}

record(ao, "$(P)$(R)refl1_phi_e4c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e4c[5]=VAL")
}

record(ao, "$(P)$(R)refl1_tth_e4c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e4c[6]=VAL")
}

record(ao, "$(P)$(R)refl2_h_e4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e4c[0]=VAL")
}

record(ao, "$(P)$(R)refl2_k_e4c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e4c[1]=VAL")
}

record(ao, "$(P)$(R)refl2_l_e4c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e4c[2]=VAL")
}

record(ao, "$(P)$(R)refl2_omega_e4c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e4c[3]=VAL")
}

record(ao, "$(P)$(R)refl2_chi_e4c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e4c[4]=VAL")
}

record(ao, "$(P)$(R)refl2_phi_e4c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e4c[5]=VAL")
}

record(ao, "$(P)$(R)refl2_tth_e4c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e4c[6]=VAL")
}

record(ao, "$(P)$(R)refl_h_si_e4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e4c[0]=VAL")
}

record(ao, "$(P)$(R)refl_k_si_e4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e4c[1]=VAL")
}

record(ao, "$(P)$(R)refl_l_si_e4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e4c[2]=VAL")
}

record(ao, "$(P)$(R)refl_omega_si_e4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e4c[3]=VAL")
}

record(ao, "$(P)$(R)reflchisi") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e4c[4]=VAL")
}

record(ao, "$(P)$(R)reflphisi") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e4c[5]=VAL")
}

record(ao, "$(P)$(R)refltthsi") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e4c[6]=VAL")
}


# kappa 4-circle
record(ao, "$(P)$(R)refl1_h_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k4c[0]=VAL")
}

record(ao, "$(P)$(R)refl1_k_k4c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k4c[1]=VAL")
}

record(ao, "$(P)$(R)refl1_l_k4c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k4c[2]=VAL")
}

record(ao, "$(P)$(R)refl1_komega_k4c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k4c[3]=VAL")
}

record(ao, "$(P)$(R)refl1_kappa_k4c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k4c[4]=VAL")
}

record(ao, "$(P)$(R)refl1_kphi_k4c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k4c[5]=VAL")
}

record(ao, "$(P)$(R)refl1_tth_k4c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k4c[6]=VAL")
}

record(ao, "$(P)$(R)refl2_h_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k4c[0]=VAL")
}

record(ao, "$(P)$(R)refl2_k_k4c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k4c[1]=VAL")
}

record(ao, "$(P)$(R)refl2_l_k4c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k4c[2]=VAL")
}

record(ao, "$(P)$(R)refl2_komega_k4c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k4c[3]=VAL")
}

record(ao, "$(P)$(R)refl2_kappa_k4c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k4c[4]=VAL")
}

record(ao, "$(P)$(R)refl2_kphi_k4c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k4c[5]=VAL")
}

record(ao, "$(P)$(R)refl2_tth_k4c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k4c[6]=VAL")
}

record(ao, "$(P)$(R)refl_h_si_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k4c[0]=VAL")
}

record(ao, "$(P)$(R)refl_k_si_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k4c[1]=VAL")
}

record(ao, "$(P)$(R)refl_l_si_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k4c[2]=VAL")
}

record(ao, "$(P)$(R)refl_komega_si_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k4c[3]=VAL")
}

record(ao, "$(P)$(R)refl_kappa_si_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k4c[4]=VAL")
}

record(ao, "$(P)$(R)refl_kphi_si_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k4c[5]=VAL")
}

record(ao, "$(P)$(R)refl_tth_si_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k4c[6]=VAL")
}



#6-circle

record(ao, "$(P)$(R)refl1_h_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[0]=VAL")
}

record(ao, "$(P)$(R)refl1_k_e6c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[1]=VAL")
}

record(ao, "$(P)$(R)refl1_l_e6c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[2]=VAL")
}

record(ao, "$(P)$(R)refl1_mu_e6c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[3]=VAL")
}

record(ao, "$(P)$(R)refl1_omega_e6c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[4]=VAL")
}

record(ao, "$(P)$(R)refl1_chi_e6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[5]=VAL")
}

record(ao, "$(P)$(R)refl1_phi_e6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[6]=VAL")
}

record(ao, "$(P)$(R)refl1_gamma_e6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[7]=VAL")
}

record(ao, "$(P)$(R)refl1_delta_e6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[8]=VAL")
}

record(ao, "$(P)$(R)refl2_h_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[0]=VAL")
}

record(ao, "$(P)$(R)refl2_k_e6c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[1]=VAL")
}

record(ao, "$(P)$(R)refl2_l_e6c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[2]=VAL")
}

record(ao, "$(P)$(R)refl2_mu_e6c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[3]=VAL")
}

record(ao, "$(P)$(R)refl2_omega_e6c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[4]=VAL")
}

record(ao, "$(P)$(R)refl2_chi_e6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[5]=VAL")
}

record(ao, "$(P)$(R)refl2_phi_e6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[6]=VAL")
}

record(ao, "$(P)$(R)refl2_gamma_e6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[7]=VAL")
}

record(ao, "$(P)$(R)refl2_delta_e6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[8]=VAL")
}

record(ao, "$(P)$(R)refl_h_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[0]=VAL")
}

record(ao, "$(P)$(R)refl_k_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[1]=VAL")
}

record(ao, "$(P)$(R)refl_l_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[2]=VAL")
}

record(ao, "$(P)$(R)refl_mu_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[3]=VAL")
}

record(ao, "$(P)$(R)refl_omega_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[4]=VAL")
}

record(ao, "$(P)$(R)refl_chi_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[5]=VAL")
}

record(ao, "$(P)$(R)refl_phi_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[6]=VAL")
}

record(ao, "$(P)$(R)refl_gamma_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[7]=VAL")
}

record(ao, "$(P)$(R)refl_delta_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[8]=VAL")
}

# kappa 6-circle
record(ao, "$(P)$(R)refl1_h_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[0]=VAL")
}

record(ao, "$(P)$(R)refl1_k_k6c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[1]=VAL")
}

record(ao, "$(P)$(R)refl1_l_k6c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[2]=VAL")
}

record(ao, "$(P)$(R)refl1_mu_k6c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[3]=VAL")
}

record(ao, "$(P)$(R)refl1_komega_k6c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[4]=VAL")
}

record(ao, "$(P)$(R)refl1_kappa_k6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[5]=VAL")
}

record(ao, "$(P)$(R)refl1_kphi_k6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[6]=VAL")
}

record(ao, "$(P)$(R)refl1_gamma_k6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[7]=VAL")
}

record(ao, "$(P)$(R)refl1_delta_k6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[8]=VAL")
}

record(ao, "$(P)$(R)refl2_h_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[0]=VAL")
}

record(ao, "$(P)$(R)refl2_k_k6c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[1]=VAL")
}

record(ao, "$(P)$(R)refl2_l_k6c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[2]=VAL")
}

record(ao, "$(P)$(R)refl2_mu_k6c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[3]=VAL")
}

record(ao, "$(P)$(R)refl2_komega_k6c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[4]=VAL")
}

record(ao, "$(P)$(R)refl2_kappa_k6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[5]=VAL")
}

record(ao, "$(P)$(R)refl2_kphi_k6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[6]=VAL")
}

record(ao, "$(P)$(R)refl2_gamma_k6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[7]=VAL")
}

record(ao, "$(P)$(R)refl2_delta_k6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[8]=VAL")
}

record(ao, "$(P)$(R)refl_h_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[0]=VAL")
}

record(ao, "$(P)$(R)refl_k_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[1]=VAL")
}

record(ao, "$(P)$(R)refl_l_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[2]=VAL")
}

record(ao, "$(P)$(R)refl_mu_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[3]=VAL")
}

record(ao, "$(P)$(R)refl_komega_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[4]=VAL")
}

record(ao, "$(P)$(R)refl_kappa_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[5]=VAL")
}

record(ao, "$(P)$(R)refl_kphi_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[6]=VAL")
}

record(ao, "$(P)$(R)refl_gamma_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[7]=VAL")
}

record(ao, "$(P)$(R)refl_delta_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[8]=VAL")
}



### UB matrices
#Busing-Levy
record(ai, "$(P)$(R)UBa11bl") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_bl[0,0]")
    field(FLNK, "$(P)$(R)UBa12bl")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa12bl") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_bl[0,1]")
    field(FLNK, "$(P)$(R)UBa13bl")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa13bl") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_bl[0,2]")
    field(FLNK, "$(P)$(R)UBa21bl")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa21bl") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_bl[1,0]")
    field(FLNK, "$(P)$(R)UBa22bl")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa22bl") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_bl[1,1]")
    field(FLNK, "$(P)$(R)UBa23bl")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa23bl") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_bl[1,2]")
    field(FLNK, "$(P)$(R)UBa31bl")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa31bl") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_bl[2,0]")
    field(FLNK, "$(P)$(R)UBa32bl")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa32bl") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_bl[2,1]")
    field(FLNK, "$(P)$(R)UBa33bl")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa33bl") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_bl[2,2]")
    field(SCAN, "1 second")
}

# UB from simplex
record(ai, "$(P)$(R)UBa11si") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_simplex[0,0]")
    field(FLNK, "$(P)$(R)UBa12si")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa12si") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_simplex[0,1]")
    field(FLNK, "$(P)$(R)UBa13si")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa13si") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_simplex[0,2]")
    field(FLNK, "$(P)$(R)UBa21si")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa21si") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_simplex[1,0]")
    field(FLNK, "$(P)$(R)UBa22si")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa22si") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_simplex[1,1]")
    field(FLNK, "$(P)$(R)UBa23si")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa23si") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_simplex[1,2]")
    field(FLNK, "$(P)$(R)UBa31si")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa31si") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_simplex[2,0]")
    field(FLNK, "$(P)$(R)UBa32si")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa32si") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_simplex[2,1]")
    field(FLNK, "$(P)$(R)UBa33si")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)UBa33si") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.UB_matrix_simplex[2,2]")
    field(SCAN, "1 second")
}

# Resulting lattice from simplex
record(ai, "$(P)$(R)latt_a_si") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.latt_refine[0]")
    field(FLNK, "$(P)$(R)latt_b_si")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)latt_b_si") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.latt_refine[1]")
    field(FLNK, "$(P)$(R)latt_c_si")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)latt_c_si") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.latt_refine[2]")
    field(FLNK, "$(P)$(R)latt_alpha_si")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)latt_alpha_si") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.latt_refine[3]")
    field(FLNK, "$(P)$(R)latt_beta_si")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)latt_beta_si") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.latt_refine[4]")
    field(FLNK, "$(P)$(R)latt_gamma_si")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)latt_gamma_si") {
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.latt_refine[5]")
    field(SCAN, "1 second")
}
