record(ai, "$(P)$(R)refl_refine_input_list_h$(C)") {
    field(DESC, "reflection $(C)")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.refl_refine_input_list[$(C)][0]")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)refl_refine_input_list_k$(C)") {
    field(DESC, "reflection $(C)")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.refl_refine_input_list[$(C)][1]")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)refl_refine_input_list_l$(C)") {
    field(DESC, "reflection $(C)")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.refl_refine_input_list[$(C)][2]")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)refl_refine_input_list_omega$(C)") {
    field(DESC, "reflection $(C)")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.refl_refine_input_list[$(C)][3]")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)refl_refine_input_list_chi$(C)") {
    field(DESC, "reflection $(C)")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.refl_refine_input_list[$(C)][4]")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)refl_refine_input_list_phi$(C)") {
    field(DESC, "reflection $(C)")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.refl_refine_input_list[$(C)][5]")
    field(SCAN, "1 second")
}

record(ai, "$(P)$(R)refl_refine_input_list_tth$(C)") {
    field(DESC, "reflection $(C)")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(INP, "@hkl_calc.refl_refine_input_list[$(C)][6]")
    field(SCAN, "1 second")
}
                                                      
