### reflections
# Eulerian 4-circle

record(ao, "$(P)$(R)refl1_h_e4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e4c[0]=VAL")
}

record(ao, "$(P)$(R)refl1_k_e4c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e4c[1]=VAL")
}

record(ao, "$(P)$(R)refl1_l_e4c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e4c[2]=VAL")
}

record(ao, "$(P)$(R)refl1_omega_e4c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e4c[3]=VAL")
}

record(ao, "$(P)$(R)refl1_chi_e4c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e4c[4]=VAL")
}

record(ao, "$(P)$(R)refl1_phi_e4c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e4c[5]=VAL")
}

record(ao, "$(P)$(R)refl1_tth_e4c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e4c[6]=VAL")
}

record(ao, "$(P)$(R)refl2_h_e4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e4c[0]=VAL")
}

record(ao, "$(P)$(R)refl2_k_e4c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e4c[1]=VAL")
}

record(ao, "$(P)$(R)refl2_l_e4c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e4c[2]=VAL")
}

record(ao, "$(P)$(R)refl2_omega_e4c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e4c[3]=VAL")
}

record(ao, "$(P)$(R)refl2_chi_e4c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e4c[4]=VAL")
}

record(ao, "$(P)$(R)refl2_phi_e4c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e4c[5]=VAL")
}

record(ao, "$(P)$(R)refl2_tth_e4c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e4c[6]=VAL")
}

record(ao, "$(P)$(R)refl_h_si_e4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e4c[0]=VAL")
}

record(ao, "$(P)$(R)refl_k_si_e4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e4c[1]=VAL")
}

record(ao, "$(P)$(R)refl_l_si_e4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e4c[2]=VAL")
}

record(ao, "$(P)$(R)refl_omega_si_e4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e4c[3]=VAL")
}

record(ao, "$(P)$(R)refl_chi_si_e4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e4c[4]=VAL")
}

record(ao, "$(P)$(R)refl_phi_si_e4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e4c[5]=VAL")
}

record(ao, "$(P)$(R)refl_tth_si_e4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e4c[6]=VAL")
}


# kappa 4-circle
record(ao, "$(P)$(R)refl1_h_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k4c[0]=VAL")
}

record(ao, "$(P)$(R)refl1_k_k4c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k4c[1]=VAL")
}

record(ao, "$(P)$(R)refl1_l_k4c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k4c[2]=VAL")
}

record(ao, "$(P)$(R)refl1_komega_k4c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k4c[3]=VAL")
}

record(ao, "$(P)$(R)refl1_kappa_k4c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k4c[4]=VAL")
}

record(ao, "$(P)$(R)refl1_kphi_k4c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k4c[5]=VAL")
}

record(ao, "$(P)$(R)refl1_tth_k4c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k4c[6]=VAL")
}

record(ao, "$(P)$(R)refl2_h_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k4c[0]=VAL")
}

record(ao, "$(P)$(R)refl2_k_k4c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k4c[1]=VAL")
}

record(ao, "$(P)$(R)refl2_l_k4c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k4c[2]=VAL")
}

record(ao, "$(P)$(R)refl2_komega_k4c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k4c[3]=VAL")
}

record(ao, "$(P)$(R)refl2_kappa_k4c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k4c[4]=VAL")
}

record(ao, "$(P)$(R)refl2_kphi_k4c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k4c[5]=VAL")
}

record(ao, "$(P)$(R)refl2_tth_k4c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k4c[6]=VAL")
}

record(ao, "$(P)$(R)refl_h_si_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k4c[0]=VAL")
}

record(ao, "$(P)$(R)refl_k_si_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k4c[1]=VAL")
}

record(ao, "$(P)$(R)refl_l_si_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k4c[2]=VAL")
}

record(ao, "$(P)$(R)refl_komega_si_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k4c[3]=VAL")
}

record(ao, "$(P)$(R)refl_kappa_si_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k4c[4]=VAL")
}

record(ao, "$(P)$(R)refl_kphi_si_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k4c[5]=VAL")
}

record(ao, "$(P)$(R)refl_tth_si_k4c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k4c[6]=VAL")
}



# Eulerian 6-circle

record(ao, "$(P)$(R)refl1_h_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[0]=VAL")
}

record(ao, "$(P)$(R)refl1_k_e6c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[1]=VAL")
}

record(ao, "$(P)$(R)refl1_l_e6c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[2]=VAL")
}

record(ao, "$(P)$(R)refl1_mu_e6c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[3]=VAL")
}

record(ao, "$(P)$(R)refl1_omega_e6c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[4]=VAL")
}

record(ao, "$(P)$(R)refl1_chi_e6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[5]=VAL")
}

record(ao, "$(P)$(R)refl1_phi_e6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[6]=VAL")
}

record(ao, "$(P)$(R)refl1_gamma_e6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[7]=VAL")
}

record(ao, "$(P)$(R)refl1_delta_e6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_e6c[8]=VAL")
}

record(ao, "$(P)$(R)refl2_h_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[0]=VAL")
}

record(ao, "$(P)$(R)refl2_k_e6c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[1]=VAL")
}

record(ao, "$(P)$(R)refl2_l_e6c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[2]=VAL")
}

record(ao, "$(P)$(R)refl2_mu_e6c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[3]=VAL")
}

record(ao, "$(P)$(R)refl2_omega_e6c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[4]=VAL")
}

record(ao, "$(P)$(R)refl2_chi_e6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[5]=VAL")
}

record(ao, "$(P)$(R)refl2_phi_e6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[6]=VAL")
}

record(ao, "$(P)$(R)refl2_gamma_e6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[7]=VAL")
}

record(ao, "$(P)$(R)refl2_delta_e6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_e6c[8]=VAL")
}

record(ao, "$(P)$(R)refl_h_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[0]=VAL")
}

record(ao, "$(P)$(R)refl_k_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[1]=VAL")
}

record(ao, "$(P)$(R)refl_l_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[2]=VAL")
}

record(ao, "$(P)$(R)refl_mu_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[3]=VAL")
}

record(ao, "$(P)$(R)refl_omega_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[4]=VAL")
}

record(ao, "$(P)$(R)refl_chi_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[5]=VAL")
}

record(ao, "$(P)$(R)refl_phi_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[6]=VAL")
}

record(ao, "$(P)$(R)refl_gamma_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[7]=VAL")
}

record(ao, "$(P)$(R)refl_delta_si_e6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_e6c[8]=VAL")
}

# kappa 6-circle
record(ao, "$(P)$(R)refl1_h_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[0]=VAL")
}

record(ao, "$(P)$(R)refl1_k_k6c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[1]=VAL")
}

record(ao, "$(P)$(R)refl1_l_k6c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[2]=VAL")
}

record(ao, "$(P)$(R)refl1_mu_k6c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[3]=VAL")
}

record(ao, "$(P)$(R)refl1_komega_k6c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[4]=VAL")
}

record(ao, "$(P)$(R)refl1_kappa_k6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[5]=VAL")
}

record(ao, "$(P)$(R)refl1_kphi_k6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[6]=VAL")
}

record(ao, "$(P)$(R)refl1_gamma_k6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[7]=VAL")
}

record(ao, "$(P)$(R)refl1_delta_k6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_k6c[8]=VAL")
}

record(ao, "$(P)$(R)refl2_h_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[0]=VAL")
}

record(ao, "$(P)$(R)refl2_k_k6c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[1]=VAL")
}

record(ao, "$(P)$(R)refl2_l_k6c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[2]=VAL")
}

record(ao, "$(P)$(R)refl2_mu_k6c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[3]=VAL")
}

record(ao, "$(P)$(R)refl2_komega_k6c") {
    field(DESC, "chi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[4]=VAL")
}

record(ao, "$(P)$(R)refl2_kappa_k6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[5]=VAL")
}

record(ao, "$(P)$(R)refl2_kphi_k6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[6]=VAL")
}

record(ao, "$(P)$(R)refl2_gamma_k6c") {
    field(DESC, "phi")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[7]=VAL")
}

record(ao, "$(P)$(R)refl2_delta_k6c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_k6c[8]=VAL")
}

record(ao, "$(P)$(R)refl_h_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[0]=VAL")
}

record(ao, "$(P)$(R)refl_k_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[1]=VAL")
}

record(ao, "$(P)$(R)refl_l_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[2]=VAL")
}

record(ao, "$(P)$(R)refl_mu_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[3]=VAL")
}

record(ao, "$(P)$(R)refl_komega_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[4]=VAL")
}

record(ao, "$(P)$(R)refl_kappa_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[5]=VAL")
}

record(ao, "$(P)$(R)refl_kphi_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[6]=VAL")
}

record(ao, "$(P)$(R)refl_gamma_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[7]=VAL")
}

record(ao, "$(P)$(R)refl_delta_si_k6c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_k6c[8]=VAL")
}

# 2-circle
record(ao, "$(P)$(R)refl1_h_2c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_2c[0]=VAL")
}

record(ao, "$(P)$(R)refl1_k_2c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_2c[1]=VAL")
}

record(ao, "$(P)$(R)refl1_l_2c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_2c[2]=VAL")
}

record(ao, "$(P)$(R)refl1_omega_2c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_2c[3]=VAL")
}

record(ao, "$(P)$(R)refl1_tth_2c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl1_input_2c[4]=VAL")
}

record(ao, "$(P)$(R)refl2_h_2c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_2c[0]=VAL")
}

record(ao, "$(P)$(R)refl2_k_2c") {
    field(DESC, "k")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_2c[1]=VAL")
}

record(ao, "$(P)$(R)refl2_l_2c") {
    field(DESC, "l")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_2c[2]=VAL")
}

record(ao, "$(P)$(R)refl2_omega_2c") {
    field(DESC, "omega")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_2c[3]=VAL")
}

record(ao, "$(P)$(R)refl2_tth_2c") {
    field(DESC, "tth")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl2_input_2c[4]=VAL")
}

record(ao, "$(P)$(R)refl_h_si_2c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_2c[0]=VAL")
}

record(ao, "$(P)$(R)refl_k_si_2c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_2c[1]=VAL")
}

record(ao, "$(P)$(R)refl_l_si_2c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_2c[2]=VAL")
}

record(ao, "$(P)$(R)refl_omega_si_2c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_2c[3]=VAL")
}

record(ao, "$(P)$(R)refl_tth_si_2c") {
    field(DESC, "h")
    field(PINI, "YES")
    field(DTYP, "pydev")
    field(OUT, "@hkl_calc.refl_refine_input_2c[4]=VAL")
}

# for indexing reflections (in refine) to delete
record(mbbo, "$(P)$(R)reflection_index_e4c") {
    field(DESC, "reflection index selection")
    field(DTYP, "pydev")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(FVVL, "5")
    field(SXVL, "6")
    field(SVVL, "7")
    field(EIVL, "8")
    field(NIVL, "9")
    #field(TEVL, "10")
    field(ZRST, " ")
    field(ONST, " ")
    field(TWST, " ")
    field(THST, " ")
    field(FRST, " ")
    field(FVST, " ")
    field(SXST, " ")
    field(SVST, " ")
    field(EIST, " ")
    field(NIST, " ")
    field(VAL, "0") 
    field(OUT, "@hkl_calc.selected_refl_index=VAL")
}

record(mbbo, "$(P)$(R)reflection_index_k4c") {
    field(DESC, "reflection index selection")
    field(DTYP, "pydev")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(FVVL, "5")
    field(SXVL, "6")
    field(SVVL, "7")
    field(EIVL, "8")
    field(NIVL, "9")
    #field(TEVL, "10")
    field(ZRST, " ")
    field(ONST, " ")
    field(TWST, " ")
    field(THST, " ")
    field(FRST, " ")
    field(FVST, " ")
    field(SXST, " ")
    field(SVST, " ")
    field(EIST, " ")
    field(NIST, " ")
    field(VAL, "0") 
    field(OUT, "@hkl_calc.selected_refl_index=VAL")
}

record(mbbo, "$(P)$(R)reflection_index_e6c") {
    field(DESC, "reflection index selection")
    field(DTYP, "pydev")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(FVVL, "5")
    field(SXVL, "6")
    field(SVVL, "7")
    field(EIVL, "8")
    field(NIVL, "9")
    #field(TEVL, "10")
    field(ZRST, " ")
    field(ONST, " ")
    field(TWST, " ")
    field(THST, " ")
    field(FRST, " ")
    field(FVST, " ")
    field(SXST, " ")
    field(SVST, " ")
    field(EIST, " ")
    field(NIST, " ")
    field(VAL, "0")
    field(OUT, "@hkl_calc.selected_refl_index=VAL")
}

record(mbbo, "$(P)$(R)reflection_index_k6c") {
    field(DESC, "reflection index selection")
    field(DTYP, "pydev")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(FVVL, "5")
    field(SXVL, "6")
    field(SVVL, "7")
    field(EIVL, "8")
    field(NIVL, "9")
    #field(TEVL, "10")
    field(ZRST, " ")
    field(ONST, " ")
    field(TWST, " ")
    field(THST, " ")
    field(FRST, " ")
    field(FVST, " ")
    field(SXST, " ")
    field(SVST, " ")
    field(EIST, " ")
    field(NIST, " ")
    field(VAL, "0")
    field(OUT, "@hkl_calc.selected_refl_index=VAL")
}

record(mbbo, "$(P)$(R)reflection_index_2c") {
    field(DESC, "reflection index selection")
    field(DTYP, "pydev")
    field(ZRVL, "0")
    field(ONVL, "1")
    field(TWVL, "2")
    field(THVL, "3")
    field(FRVL, "4")
    field(FVVL, "5")
    field(SXVL, "6")
    field(SVVL, "7")
    field(EIVL, "8")
    field(NIVL, "9")
    #field(TEVL, "10")
    field(ZRST, " ")
    field(ONST, " ")
    field(TWST, " ")
    field(THST, " ")
    field(FRST, " ")
    field(FVST, " ")
    field(SXST, " ")
    field(SVST, " ")
    field(EIST, " ")
    field(NIST, " ")
    field(VAL, "0") 
    field(OUT, "@hkl_calc.selected_refl_index=VAL")
}


